doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Gabriele Marra, a software engineer specializing in space cybersecurity. Experienced in satellite OS security, satellite software, and general purpose software development. Based in Milan, Italy.')
        meta(name='author', content='Gabriele Marra')

        // Open Graph Tags
        meta(property='og:title', content='Gabriele Marra – Space Cybersecurity Researcher')
        meta(property='og:description', content='Gabriele Marra, a software engineer specializing in space cybersecurity. Experienced in satellite OS security, satellite software, and general purpose software development. Based in Milan, Italy.')
        meta(property='og:image', content='https://gabrielemarra.tech/assets/img/profile.jpg')
        meta(property='og:url', content='https://gabrielemarra.tech')
        meta(property='og:type', content='website')

        // Twitter Card Tags
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Gabriele Marra – Space Cybersecurity Researcher')
        meta(name='twitter:description', content='Gabriele Marra, a software engineer specializing in space cybersecurity. Experienced in satellite OS security, satellite software, and general purpose software development. Based in Milan, Italy.')
        meta(name='twitter:image', content='https://gabrielemarra.tech/assets/img/profile.jpg')


        title Gabriele Marra - Space Cybersecurity Researcher

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Gabriele Marra
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#publications') Publications
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#achievements') Achievements

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    span.d-lg-none.d-xl-none.d-xxl-none
                        .row
                            .col-8.col-md-6.col-lg-4
                                img.img-fluid.img-profile.rounded-circle.mx-auto.mb-5(src="assets/img/profile.jpg" alt="Gabriele Marra Profile Image")
                    h1.mb-0
                        | Gabriele
                        span.text-primary Marra
                    .subheading.mb-5
                        | Milan, Italy ·
                        a(href='mailto:info@gabrielemarra.tech') info@gabrielemarra.tech
                    p.lead.mb-5
                        | As a
                        strong Junior Software Engineer
                        | specializing in
                        strong space cybersecurity,
                        | my passion for technology extends to space exploration, underpinned by my interests in science, music, and sports. My journey has led me from academic research to practical, real-world applications, giving me a diverse skill set. My most notable achievements include leading
                        strong satellite software development
                        | for a CubeSat mission and
                        strong overseeing security
                        | for an open-source satellite OS project.
                    p.lead.mb-5
                        |With a Master's degree in Computer Engineering and experience as a freelancer, I am driven to make a meaningful impact in a company or research center that shares my enthusiasm for pushing the boundaries of technology.
                    .social-icons
                        a.social-icon(href='mailto:info@gabrielemarra.tech')
                            i.fa.fa-envelope
                        a.social-icon(href='https://linkedin.com/in/gabriele-marra')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/gabrielemarra')
                            i.fab.fa-github


            hr.m-0

            // Experience
            section#experience.resume-section
                .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Space Cybersecurity Researcher
                            .subheading.mb-3 CISPA - Helmholtz Centre for Information Security
                            p
                                | Overseeing security for
                                //TODO add "target='_blank' rel='noopener noreferrer'" here and not only in the html
                                a(href='https://www.tu.berlin/en/raumfahrttechnik/research/current-projects/raccoon') RACCOON OS,
                                | a new open-source satellite OS project in collaboration with leading universities. Responsible for designing and implementing application isolation solutions within the OS while ensuring high reliability and minimal performance overhead.
                        .flex-shrink-0
                            span.text-primary 10/2023 - 03/2024
                            .span.text-secondary Saarbrücken, Germany

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Flight Software Engineer - CubeSat Mission
                            .subheading.mb-3 PoliSpace Association
                            p
                                | Leading a team of four software engineers in ﬂight software testing and requirements deﬁnition. Actively collaborating with the creation and development of secure and well-designed CubeSat satellite software.
                        .flex-shrink-0
                            span.text-primary 11/2021 - 09/2023
                            .span.text-secondary Milan, Italy


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer Freelancer
                            .subheading.mb-3 Level11 Software on Fiverr
                            p
                                | Developed various software solutions, including web apps, backends, and neural network algorithms for multiple clients. I gained experience in working with lots of tasks for numerous customers.
                        .flex-shrink-0
                            span.text-primary 2022 - Present

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Master of Science in Computer Engineering
                            .subheading.mb-3 Politecnico di Milano
                            div Focusing on cybersecurity and deep learning courses.
                            | Relevant courses: Computer Security, Offensive and Defensive Cybersecurity, Internet of Things, Artiﬁcial Neural Networks, Advanced Operating Systems, and Uncertainty in AI.
                        .flex-shrink-0
                            span.text-primary 2021 - Present
                            .span.text-secondary Milan, Italy

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Erasmus+ program in M.Sc. Computer Science
                            .subheading.mb-3 Universität Konstanz
                            | Relevant courses: Big Data Management and Analysis, Deep Learning for Computer Vision, Biorobotics, and Physical Computing.
                        .flex-shrink-0
                            span.text-primary 03/2022 - 09/2022
                            .span.text-secondary Konstanz, Germany

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Bachelor’s Degree in Computer Engineering
                            .subheading.mb-3 Politecnico di Milano
                        .flex-shrink-0
                            span.text-primary 2017 - 2021
                            .span.text-secondary Milan, Italy

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Programming Languages & Skills
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Java

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Python

                        li
                            span.fa-li
                                i.fas.fa-check
                            | C/C++/C#

                        li
                            span.fa-li
                                i.fas.fa-check
                            | JavaScript

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Web App Development

                        li
                            span.fa-li
                                i.fas.fa-check
                            | Django

                        li
                            span.fa-li
                                i.fas.fa-check
                            | FastAPI

                        li
                            span.fa-li
                                i.fas.fa-check
                            | ROS2

                        li
                            span.fa-li
                                i.fas.fa-check
                            | MongoDB

                        li
                            span.fa-li
                                i.fas.fa-check
                            | TensorFlow

                    //.subheading.mb-3 Programming Languages & Tools
                    //ul.list-inline.dev-icons
                    //    li.list-inline-item
                    //        i.fab.fa-html5
                    //    li.list-inline-item
                    //        i.fab.fa-css3-alt
                    //    li.list-inline-item
                    //        i.fab.fa-js-square
                    //    li.list-inline-item
                    //        i.fab.fa-angular
                    //    li.list-inline-item
                    //        i.fab.fa-react
                    //    li.list-inline-item
                    //        i.fab.fa-node-js
                    //    li.list-inline-item
                    //        i.fab.fa-sass
                    //    li.list-inline-item
                    //        i.fab.fa-less
                    //    li.list-inline-item
                    //        i.fab.fa-wordpress
                    //    li.list-inline-item
                    //        i.fab.fa-gulp
                    //    li.list-inline-item
                    //        i.fab.fa-grunt
                    //    li.list-inline-item
                    //        i.fab.fa-npm
                    //.subheading.mb-3 Workflow
                    //ul.fa-ul.mb-0
                    //    li
                    //        span.fa-li
                    //            i.fas.fa-check
                    //        | Mobile-First, Responsive Design
                    //    li
                    //        span.fa-li
                    //            i.fas.fa-check
                    //        | Cross Browser Testing & Debugging
                    //    li
                    //        span.fa-li
                    //            i.fas.fa-check
                    //        | Cross Functional Teams
                    //    li
                    //        span.fa-li
                    //            i.fas.fa-check
                    //        | Agile Development & Scrum

            hr.m-0

            // Publications
            section#publications.resume-section
                .resume-section-content
                    h2.mb-5 Publications
                    p
                        | Marra, G., Planta, U., Wüstenberg, P., & Abbasi, A. (2024).
                        i On the Feasibility of CubeSats Application Sandboxing for Space Missions.
                        | Workshop SpaceSec 2024, at the NDSS Symposium 2024.
                        a(href='https://arxiv.org/pdf/2404.04127.pdf') (PDF on arXiv)

            hr.m-0

            // Awards
            section#achievements.resume-section
                .resume-section-content
                    h2.mb-5 Achievements
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            h4 1st place, Leanspace Hackathon 2022
                            | Designed, implemented, and deployed a software to manage a 100-satellite constellation and handle live imagery requests, beating ﬁve international teams. Awarded 80’000 euros of university sponsorship.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
